{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action = "#" method = "POST">
    <p>Name:</p>
    <p><input type="text" name="user" /></p>
    <p>Email:</p>
    <input type="email" name="email" placeholder="Enter email:" value="{{ email if email }}"/>
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter password:" value=""/>
    <p><input type="submit" type="submit" /></p>
</form>
{% endblock content %}